<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_466ff2991514a48ddf6d9a6dd23df41e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_466ff2991514a48ddf6d9a6dd23df41e" ></div>
        
</body>
<script>
    
    
            var map_466ff2991514a48ddf6d9a6dd23df41e = L.map(
                "map_466ff2991514a48ddf6d9a6dd23df41e",
                {
                    center: [22.3511148, 78.6677428],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 9,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_bd6bb6c67911f34c3e0a5f8d0ee511df = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_bd6bb6c67911f34c3e0a5f8d0ee511df.addTo(map_466ff2991514a48ddf6d9a6dd23df41e);
        
    
            var marker_b05cc4018d4f89dc8ba0e5bad94ef6a9 = L.marker(
                [22.3511148, 78.6677428],
                {
}
            ).addTo(map_466ff2991514a48ddf6d9a6dd23df41e);
        
    
        var popup_c6396ca4948221a8d72440cf6e1cebf9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_858be89e8392bf184f9589d63ad4733e = $(`<div id="html_858be89e8392bf184f9589d63ad4733e" style="width: 100.0%; height: 100.0%;">India</div>`)[0];
                popup_c6396ca4948221a8d72440cf6e1cebf9.setContent(html_858be89e8392bf184f9589d63ad4733e);
            
        

        marker_b05cc4018d4f89dc8ba0e5bad94ef6a9.bindPopup(popup_c6396ca4948221a8d72440cf6e1cebf9)
        ;

        
    
</script>
</html>